<!DOCTYPE html>

<HTML>
    <HEAD>
       <link rel="stylesheet" href="./styles.css"> 
       
    </HEAD>

    <BODY>
        {{>header}}

     <p>Use this for Weather info</p>
     <form>
         <input placeholder="Location">
         <button>Search</button>
     </form>
     <script src="/app.js"></script>
    </BODY>

</HTML>